[Unit]
Description=RelaySMS Publisher
Documentation=https://github.com/smswithoutborders/RelaySMS-Publisher
Wants=relaysms-publisher-rest.service \
      relaysms-publisher-grpc.service \
      relaysms-publisher-worker.service \
      relaysms-publisher-beat.service \
      relaysms-publisher-smtp.service
After=relaysms-publisher-rest.service \
      relaysms-publisher-grpc.service \
      relaysms-publisher-worker.service \
      relaysms-publisher-beat.service \
      relaysms-publisher-smtp.service

[Install]
WantedBy=multi-user.target
