[Unit]
Description=RelaySMS Publisher REST API
PartOf=relaysms-publisher.target
After=network.target

[Service]
User=relaysms
WorkingDirectory=/opt/relaysms/relaysms-publisher
EnvironmentFile=/opt/relaysms/relaysms-publisher/.env
ExecStart=/opt/relaysms/relaysms-publisher/venv/bin/python3 -m uvicorn app:app --host "${HOST}" --port "${PORT}" --workers 4 --proxy-headers --forwarded-allow-ips "*"
Restart=on-failure
SyslogIdentifier=relaysms-publisher-rest

ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=true
ReadWritePaths=__RW_PATHS__

[Install]
WantedBy=relaysms-publisher.target
