[Unit]
Description=RelaySMS Publisher gRPC Server
PartOf=relaysms-publisher.target
After=network.target

[Service]
WorkingDirectory=/opt/relaysms/relaysms-publisher
EnvironmentFile=/opt/relaysms/relaysms-publisher/.env
ExecStart=/opt/relaysms/relaysms-publisher/venv/bin/python3 -u grpc_server.py
Restart=on-failure
SyslogIdentifier=relaysms-publisher-grpc
ReadWritePaths=/opt/relaysms/relaysms-publisher/data

[Install]
WantedBy=relaysms-publisher.target
