[Unit]
Description=RelaySMS Publisher Services
Wants=relaysms-publisher-rest.service relaysms-publisher-grpc.service
After=relaysms-publisher-rest.service relaysms-publisher-grpc.service

[Install]
WantedBy=multi-user.target
