alembic==1.18.4
fastapi[standard]==0.136.3
GitPython==3.1.50
grpc-interceptor==0.15.4
grpcio==1.81.0
grpcio-testing==1.81.0
grpcio-tools==1.81.0
phonenumbers==9.0.32
pymysql==1.2.0
requests==2.34.2
sentry-sdk[grpcio]==2.62.0
sqlalchemy==2.0.50
sqlcipher3-binary==0.6.0
tqdm==4.68.2
twilio==9.10.9
