fastapi[standard]==0.135.1
GitPython==3.1.46
grpc-interceptor==0.15.4
grpcio==1.78.1
grpcio-testing==1.78.1
grpcio-tools==1.78.1
peewee>=3.17.8
phonenumbers==9.0.25
pymysql==1.1.2
requests==2.32.5
sentry-sdk[grpcio]==2.54.0
tqdm==4.67.3
twilio==9.10.2
