fastapi[standard]==0.128.6
GitPython==3.1.46
grpc-interceptor==0.15.4
grpcio==1.78.0
grpcio-testing==1.78.0
grpcio-tools==1.78.0
peewee>=3.17.8
phonenumbers==9.0.23
pymysql==1.1.2
requests==2.32.5
sentry-sdk[grpcio]==2.52.0
tqdm==4.67.3
twilio==9.10.1
